/backend/node_modules
/backend/build
/backend/npm-debug.log
/backend/.env
/backend/.DS_Store



frontend/node_modules
frontend/.pnp
frontend.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*



omnistackrn/.DS_Store
omnistackrn/build/
omnistackrn/*.pbxuser
omnistackrn/!default.pbxuser
omnistackrn/*.mode1v3
omnistackrn/!default.mode1v3
omnistackrn/*.mode2v3
omnistackrn/!default.mode2v3
omnistackrn/*.perspectivev3
omnistackrn/!default.perspectivev3
omnistackrn/xcuserdata
omnistackrn/*.xccheckout
omnistackrn/*.moved-aside
omnistackrn/DerivedData
omnistackrn/*.hmap
omnistackrn/*.ipa
omnistackrn/*.xcuserstate
omnistackrn/project.xcworkspace
omnistackrn/build/
omnistackrn/.idea
omnistackrn/.gradle
omnistackrn/local.properties
omnistackrn/*.iml
omnistackrn/node_modules/
omnistackrn/npm-debug.log
omnistackrn/yarn-error.log
omnistackrn/buck-out/
\.buckd/
omnistackrn/*.keystore
omnistackrn/*/fastlane/report.xml
omnistackrn/*/fastlane/Preview.html
omnistackrn/*/fastlane/screenshots
omnistackrn/*.jsbundle
